@font-face {
  font-family: headline;
  font-style: normal;
  font-weight: 300;
  src: url('./../fonts/SantanderHeadline.woff2') format('woff2');
}

@font-face {
  font-family: headline;
  font-style: normal;
  font-weight: 400;
  src: url('./../fonts/SantanderHeadline.woff2') format('woff2');
}

@font-face {
  font-family: headline;
  font-style: normal;
  font-weight: 700;

  src: url('./../fonts/SantanderHeadline.woff2') format('woff2');
}

@font-face {
  font-family: text;
  font-style: normal;
  font-weight: 400;
  src: url('./../fonts/SantanderTextW05-Regular.woff2') format('woff2');
}

@font-face {
  font-family: text;
  font-style: normal;
  font-weight: 700;
  src: url('./../fonts/SantanderTextW05-Bold.woff2') format('woff2');
}

@font-face {
  font-family: ico;
  src: url('./../fonts/SanIcon.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

.icon-font {
  font-family: ico;
}

.headline-font {
  font-family: headline;
}

.text-font {
  font-family: text;
}
