@font-face {
  font-family: 'BBVA-Icons';
  src: url('../fonts/BBVA-Icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-icon {
  font-family: 'BBVA-Icons';
}
