#countdown {
  position: relative;
  height: 60px;
  width: 60px;
  text-align: center;
}

.timer-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

.static-circle {
  stroke: #ccc;
  stroke-width: 3px;
  fill: none;
}

.animated-circle {
  stroke-dasharray: 188px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 3px;
  stroke: #5bc0eb;
  fill: none;
  animation: countdown linear infinite forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: -188px;
  }
}
