@font-face {
  font-family: 'ibercaja';
  src: url('./../fonts/Ibercaja-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ibercaja';
  src: url('./../fonts/Ibercaja-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ibercaja';
  src: url('./../fonts/Ibercaja-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ibercaja-icon';
  src: url('./../fonts/Ibercaja-Icon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.font-ibercaja {
  font-family: 'ibercaja';
}

.font-ibercaja-icon {
  font-family: 'ibercaja-icon';
}
